* {
        margin: 0px;
        padding: 0px;
}

body {
	font-family: 'Montserrat Alternates', sans-serif;
	color:#271717;
	text-align:center; /* for IE */
	margin:0 auto; /* for the rest */
	font-size: 14px;
	background-color: #993333;
	background-image: url('../img/red.png');
}

a:link, a:visited, a:active, a:hover { 
	font-weight: bold;
	text-decoration: none;
}

a:link, a:visited, a:active { 
	color: #FFFFFF; 
}

a:hover {  
	color: #993333;
}


#header, #footer {
	padding-top: 10px;
	color: #FFFFFF;
	width: auto;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#header {
	height: 55px;
}

#header h1 {
	font-size: 36px;
}

#footer {
	margin-bottom: 48px;
}

.menu {
	background-color: #1F1F1F;
	background-color:rgba(31,31,31,0.7);
	width: auto;	
	height: 24px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;

}

.menu p {
	display: inline;
}

.menu ul, .menu li {
	display: inline;
	font-weight: bold;
}

.menu .menuitem {
	padding-top: 4px;
	height: 26px;
	font-weight:bold;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	display: inline;
	margin-left: .5em;
	margin-right: .5em;
}

.menu .menuitem:hover {
	background-color: #FFFFFF;
}


.menu .menuitem:hover a {
	color: #1F1F1F;
}

.menuitem a {
	color: white;	
	text-decoration:none;
	font-size: 18px;
}

a.row {
	display: inline;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

#columnbackground {
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #666666;
	background-image: url('../img/gray.png');
}

.content {
	position: relative;
	margin: 0 auto;
	width: 1006px; /* 1010 minus 4 (3px on both sides)*/
	/* background-color: #D7D3D2; */
	background-color: #1F1F1F;
	background-color:rgba(31,31,31,0.7);
	color: white;
	padding-bottom: 8px;
	margin-bottom: 7px;
	margin-top: 7px;
	border: 2px solid white;
	padding: 2px;
}

.content p {
	margin: 5px;
}

h2, .breadcrumbs {
	width: 100%;
	padding-top: 8px;
	margin-right: auto;
	margin-left: auto;
	color: black;
	background-color: white;
	font-size: 22px;
	font-weight: bold;
	height: 40px;
}

.breadcrumbs a:link, .breadcrumbs a:link, .breadcrumbs a:visited, .breadcrumbs a:active{
	color: #271717;
}

.content .functions {
	position: absolute;
	right: 5px;
	top: 5px;
	align: right:
	z-index: 1000;
	margin-left: 5px;
	margin-top: 8px;
}

.content .functions a {
	margin-left: 5px;
	font-size: 18px;
	padding: 6px;
	background-color: #1F1F1F; 
}
#wrap {
	width: auto;
	/** margin: 0 auto; **/
	/** background-color: #736F6E; **/ 
	margin-right: auto;
	margin-left: auto;
}

table {
	margin:0 auto;
	width: 1006px; 
	background-color: #D7D3D2;
	background-color:rgba(31,31,31,0.7);
	margin-top: 7px;
	margin-bottom: 7px;
	border: 2px solid white;
}

/* Sortable tables */
table.sortable thead {
    font-weight: bold;
}

th {
	height:40px;
	background-color: white;
	font-size: 22px;
	text-align: center;
}

td {
	background-color: #B9B5B4;
	background-color:rgba(31,31,31,0.7);
	color: white;
	padding-left: 10px;
	cursor:pointer;
	text-align: left;
}

tr:hover td {
	color: white;
	background-color: #666666;
}

td.thumbnails, td.nothumbnail {
	padding-left: 0px;
	width: 110px;
}

.hlt td {
    background-color: yellow;
    color: black;
}

.thumbnails {
	width: 100px;
	height: 70px;
	overflow: hidden;
	margin: 5px;
	/*margin-bottom: 5px;*/
}



/** Floating message box **/

#floatbottom {
	/** margin: -35px 0 0 0; **/
	position: fixed;
	bottom: 0px;
	text-align: center; 
	width: 100%; 
	margin: 0 auto;
}

#floatbottom #messagebox {
	background-color:rgba(31,31,31,0.7);
    border-top: solid #FFFFFF 2px;
    border-left: solid #FFFFFF 2px;
    border-right: solid #FFFFFF 2px;
    margin-right: auto;
    margin-left: auto;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	width: 750px;
	height: 20px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
}

#floatbottom #messagebox p, #floatbottom #messagebox span {
	color: #FFF;
	font-weight: bold;
}

#floatbottom #messagebox label, #floatbottom #messagebox input, #floatbottom #messagebox select, #floatbottom #messagebox textarea, #floatbottom #messagebox span{
	background-color: transparent;
	display: inline;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}

#floatbottom #messagebox label, #floatbottom #messagebox input, #floatbottom #messagebox select, #floatbottom #messagebox textarea {
    width: 150px;
	height: 20px;
}
#floatbottom #messagebox label, #floatbottom #messagebox input, #floatbottom #messagebox select, #floatbottom #messagebox textarea {
    border: solid #FFFFFF 1px;
    color: #FFFFFF;
    padding: 1px;
}

#floatbottom #messagebox input[type="submit"] {
	color: #000;
	Background-Color: #FFF;
}

#floatbottom #messagebox input[type="submit"]:hover {
	color: #000;
	Background-Color: #D7D3D2;
}

#floatbottom #messagebox input[type="checkbox"] {
	width: 20px;
}
